@font-face {
  font-family: GillSansReg;
  src: url(../fonts/GillSans.ttc);
}
@font-face {
  font-family: ptSerif;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSansI;
  src: url(../fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: GillSansMedI;
  src: url(../fonts/Gill\ Sans\ Medium\ Italic.otf);
}
@font-face {
  font-family: GillSansBold;
  src: url(../fonts/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: GillSansLightI;
  src: url(../fonts/Gill\ Sans\ Light\ Italic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  height: 93px;
  width: 980px;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: relative;
  z-index: 1;
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: GillSansReg;
  height: 20px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding-right: 10px;
}
nav a span {
  font-size: 30px;
  margin: 10px;
  color: #EE4367;
}
nav .logo {
  font-family: GillSansReg;
  font-size: 20px;
  padding-top: 20px;
  width: 92px;
  height: 42px;
  border: 2px solid black;
  color: black;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  height: 42px;
  text-align: center;
  display: flex;
  color: black;
}

@media all and (max-width: 920px) {
  nav {
    width: 100%;
  }
}
.hero {
  margin-top: -93px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(rgba(255, 208, 64, 0.8), rgba(255, 208, 64, 0.8)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero button {
  width: 121.62px;
  height: 40.04px;
  background-color: #EE4367;
  color: white;
  border: none;
  font-family: GillSansReg;
  font-size: 15px;
}
.hero h1 {
  font-family: ptSerif;
  font-weight: normal;
  font-size: 60px;
  padding-top: 60px;
}
.hero p {
  width: 420px;
  text-align: center;
  font-family: GillSansI;
  font-size: 20px;
  color: #EE4367;
}

.home .quote {
  width: 100%;
  height: 300px;
  padding-top: 75px;
}
.home .quote .quoteText {
  margin: 0 auto;
  width: 789px;
}
.home .quote .quoteText #quotePara {
  font-family: GillSansMedI;
  color: #FFD140;
  font-size: 15px;
}
.home .quote .quoteText #name {
  font-family: ptSerif;
  color: #EE4367;
  font-size: 15px;
  padding-top: 20px;
}
.home .quote .quoteText #corp {
  font-family: ptSerif;
  color: #a8a8a8;
  font-size: 10px;
  padding-top: 5px;
}
.home .events {
  height: 320px;
  background-color: #540D6E;
  padding: 40px;
}
.home .events h2 {
  font-family: GillSansReg;
  color: white;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 5px;
}
.home .events hr {
  width: 392px;
  border: 1px solid white;
}
.home .events .eventDetail {
  width: 1198px;
  height: 200px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home .events .eventDetail .eventBox {
  width: 244px;
  height: 124px;
  display: flex;
}
.home .events .eventDetail .eventBox .date {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.home .events .eventDetail .eventBox .date #num {
  font-family: GillSansBold;
  font-size: 22px;
  color: white;
}
.home .events .eventDetail .eventBox .date #month {
  font-family: GillSansLight;
  font-size: 12px;
  color: white;
}
.home .events .eventDetail .eventBox .text {
  width: 140px;
}
.home .events .eventDetail .eventBox .text #top {
  font-family: GillSansReg;
  font-size: 15px;
  color: white;
  padding-bottom: 5px;
}
.home .events .eventDetail .eventBox .text #bottom {
  font-family: GillSansReg;
  font-size: 13px;
  color: #EE4367;
}

.about {
  margin: 0 auto;
  width: 979.5px;
  height: 600px;
  position: relative;
}
.about .headerImg {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 979.5px;
  height: 378.75px;
  background-image: linear-gradient(rgba(255, 208, 64, 0.8), rgba(255, 208, 64, 0.8)), url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}
.about .title {
  position: relative;
  top: -25px;
  z-index: 2;
  font-family: GillSansReg;
  font-size: 25px;
}
.about hr {
  position: relative;
  top: -20px;
  width: 229px;
  border: 1px solid black;
}
.about p {
  width: 980px;
  font-family: GillSansLightI;
  font-size: 16px;
  color: black;
}

.gallery {
  width: 980px;
  margin: 0 auto;
}
.gallery .title {
  padding-top: 50px;
  width: 980px;
  font-family: GillSansReg;
  font-size: 25px;
}
.gallery hr {
  width: 229px;
  border: 1px solid black;
}
.gallery .rowOne {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
.gallery .rowOne .firstBox {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(rgba(255, 208, 64, 0.8), rgba(255, 208, 64, 0.8)), url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.gallery .rowOne .secondBox {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.gallery .rowOne .thirdBox {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .rowTwo {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.gallery .rowTwo .fourthBox {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.gallery .rowTwo .fifthBox {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galleryPages {
  position: relative;
}
.galleryPages .headerImage {
  margin: 0 auto;
  width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(rgba(255, 208, 64, 0.8), rgba(255, 208, 64, 0.8)), url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPages .title {
  margin: 0 auto;
  width: 980.5px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.galleryPages .title #num {
  position: relative;
  top: -275px;
  font-family: GillSansReg;
  font-size: 300px;
  color: #FFD140;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.galleryPages .title #titleText {
  height: 164px;
  position: relative;
  top: -130px;
  font-family: GillSansReg;
  font-size: 140px;
  color: #FFD140;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.galleryPages .text {
  margin: 0 auto;
  position: relative;
  width: 980.5px;
  display: flex;
  flex-direction: row;
}
.galleryPages .text p {
  width: 490px;
  font-family: GillSansLightI;
  padding-bottom: 50px;
}

.blog {
  margin: 0 auto;
  width: 980px;
}
.blog .title {
  font-family: GillSansReg;
  font-size: 25px;
  padding-top: 50px;
}
.blog hr {
  width: 229px;
  border: 1px solid black;
  margin-bottom: 40px;
}
.blog .content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.blog .content a {
  text-decoration: none;
}
.blog .content .container {
  width: 460px;
  height: 357px;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.blog .content .container .date {
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.blog .content .container .date #num {
  font-family: GillSansBold;
  font-size: 22px;
  color: white;
}
.blog .content .container .date #month {
  font-family: GillSansLight;
  font-size: 12px;
  color: white;
}
.blog .content .container .rightContent {
  width: 380px;
}
.blog .content .container .rightContent .image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}
.blog .content .container .rightContent #top {
  font-family: GillSansReg;
  font-size: 15px;
  color: black;
  margin-bottom: 25px;
}
.blog .content .container .rightContent #bottom {
  font-family: GillSansReg;
  font-size: 13px;
  color: #EE4367;
}

.blogPage .headerImg {
  margin: 0 auto;
  width: 981px;
  height: 300px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}
.blogPage .date {
  height: 155.25px;
  width: 155.25px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogPage .date #num {
  font-family: GillSansBold;
  font-size: 55px;
  color: white;
}
.blogPage .date #month {
  font-family: GillSansLight;
  font-size: 31px;
  color: white;
}
.blogPage .text {
  margin: 0 auto;
  width: 980px;
  padding-bottom: 80px;
}
.blogPage .text p {
  font-family: GillSansLight;
  font-size: 20px;
  padding-bottom: 30px;
}
.blogPage .text #title {
  font-family: GillSansReg;
  font-size: 20px;
  color: #EE4367;
  padding-bottom: 30px;
}

.contact {
  margin: 0 auto;
  width: 980px;
  padding-top: 50px;
}
.contact .title {
  font-family: GillSansReg;
  font-size: 25px;
}
.contact hr {
  width: 229px;
  border: 1px solid black;
  margin-bottom: 40px;
}
.contact .content {
  display: flex;
  flex-direction: row;
}
.contact .content .formContain {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.contact .content .formContain input {
  width: 529px;
  height: 60px;
  background-color: #f5f5f5;
  border: none;
  margin-bottom: 21px;
  padding-left: 10px;
}
.contact .content .formContain textarea {
  width: 529px;
  height: 199px;
  background-color: #f5f5f5;
  border: none;
  margin-bottom: 21px;
  padding-left: 10px;
  resize: none;
  font-family: GillSansReg;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
}
.contact .content .formContain textarea input::placeholder {
  font-family: GillSansReg;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.contact .content .formContain textarea textarea::placeholder {
  font-family: GillSansReg;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.contact .content .formContain button {
  width: 167px;
  height: 60px;
  border: none;
  background-color: #EE4367;
  font-family: GillSansReg;
  font-size: 16px;
  color: white;
}
.contact .content .map {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  height: 455px;
  background-color: #EE4367;
  text-align: center;
  padding: 40px;
}
footer .logo {
  margin: 0 auto;
  font-family: GillSansReg;
  font-size: 20px;
  padding-top: 20px;
  width: 92px;
  height: 42px;
  border: 2px solid white;
  color: white;
  margin-bottom: 50px;
}
footer .address {
  margin: 0 auto;
  font-size: 16px;
  color: white;
  padding-bottom: 30px;
}
footer .address p {
  padding: 3px;
}
footer .newsletter {
  width: 696px;
  height: 60px;
  display: flex;
  flex-direction: row;
  font-family: GillSansReg;
  margin: 0 auto;
}
footer .newsletter .input {
  width: 529px;
  height: 60px;
  padding: 22px;
  text-align: left;
  font-size: 16px;
  color: white;
  opacity: 0.5;
  background-color: #f56b88;
}
footer .newsletter .button {
  padding: 20px;
  text-align: center;
  width: 167px;
  height: 60px;
  background-color: white;
  font-size: 16px;
  color: #EE4367;
}
footer .socials {
  padding: 40px;
}
footer .socials img {
  width: 32px;
  height: 32px;
  margin: 5px;
}
footer .copyright {
  color: white;
  opacity: 0.5;
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */
