.contact {
  margin: 0 auto;
  width: 980px;
  padding-top: 50px;
  
  .title {
    font-family: GillSansReg;
    font-size: 25px;
  }
  hr {
    width: 229px;
    border: 1px solid black;
    margin-bottom: 40px;
  }
  .content {
    display: flex;
    flex-direction: row;
    .formContain {
      height: 600px;
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      input {
        width: 529px;
        height: 60px;
        background-color: #f5f5f5;
        border: none;
        margin-bottom: 21px;
        padding-left: 10px;
      }
      textarea {
        width: 529px;
        height: 199px; 
        background-color: #f5f5f5;
        border: none;
        margin-bottom: 21px;
        padding-left: 10px;
        resize: none;
        font-family: GillSansReg;
        font-size: 16px;
        color: rgb(0, 0, 0, 0.5);
        padding-top: 5px;
      input::placeholder {
        font-family: GillSansReg;
        font-size: 16px;
        color: rgb(0, 0, 0, 0.5);
       
      }
      textarea::placeholder{
        font-family: GillSansReg;
        font-size: 16px;
        color: rgb(0, 0, 0, 0.5);
      }
      
    }
    button {
        width: 167px;
        height: 60px;
        border: none;
        background-color: $site-coral;
        font-family: GillSansReg;
        font-size: 16px;
        color: white;
      }
  }
  .map {
    width: 400px;
    height: 442px;
    background-image: url(../images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
}